/* typography.css */

/* Text Sizes */
h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    opacity: 0.5;
}

/* Typing Effect */
.typed-text {
    font-size: 4rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 6px;       /* fixed width */
    height: 60px;     /* fixed height */
    background: #493dbb;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: -5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
