/* Base styles for the page */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f1a;
    color: white;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
