/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
    color: #fff; /* Light text color */
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1d1d1d; /* Dark background */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #d8b2ff; /* Purple color */
    font-size: 18px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #fff;
}

/* Menu button for mobile */
.menu-toggle {
    display: none;
}

/* Home section */
#home {
    text-align: center;
    padding: 50px;
    margin: 0;
}

#home h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

#home p {
    font-size: 1.5em;
    margin-top: 20px;
    color: #aaa;
}

.download-btn {
    display: inline-block;
    background-color: #d8b2ff;
    color: #121212;
    padding: 15px 30px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.download-btn:hover {
    background-color: #fff;
    color: #121212;
}

footer {
    background-color: #1d1d1d;
    color: #aaa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
